
<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Olufemi Olumaiyegun</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>

  <body style="background-color:white;">

    <main role="main">

      <section class="jumbotron text-center" style="background-color:black">
        <div class="container">
          <h1 class="jumbotron-heading" style="color:white;">Olufemi Olumaiyegun</h1>
          <p class="lead text-muted" style="color:white !important;">This is a personal portfolio of all my Projects!</p>
         
          <img src="{% static 'Snapchat-311341412.jpg' %}" style="height:400px; object-fit:cover;"/>
       <p>
            <a href="mailto:femimayegun@gmail.com" class="btn btn-primary my-2">Email Me</a>
          </p>
	  </div>
      </section>

      <div class="album py-5" style="background-color:black">
        <div class="container">

          <div class="row">
            {% for project in projects %}

            <div class="col-md-4">
              <a href="{% url 'detail' project.id %}">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ project.Image.url }}" style="object-fit:cover; height:300px;">
                <div class="card-body">
                  <p class="card-text">{{ project.summary }}</p>
                </div>
              </div>
              </a>
            </div>

            {% endfor %}
          </div>

        </div>
      </div>

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.js' %}" ></script>
    <script src="{% static 'jquery-3.3.1.min.js' %}" ></script>
  </body>
</html>
